{% extends 'base.html.twig' %}

{% block body %}

    {% include 'admin/layout/navbar.html.twig' %}

    <style>
        html, body
        {
            background: url('{{ vich_uploader_asset(challenge, 'imageFile') }}') no-repeat center fixed;
            -webkit-background-size: cover; /* pour anciens Chrome et Safari */
            background-size: cover; /* version standardisée */
        }

    </style>

    <div class="container mt-4">
        <h3 style="color: #531B51;"><b>ÉDITER LE CHALLENGE</b></h3>
        {{ form_start(form) }}
            <div class="card">
            <h4 style="padding-top: 20px; padding-left: 20px;">Informations générales</h4>
            <hr>
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <div class="row">
                            <div class="col-md-8">{{ form_row(form.titre) }}</div>
                            <div class="col-md-4">{{ form_row(form.periode) }}</div>
                            <div class="col-md-8">{{ form_row(form.description) }}</div>
                            <div class="col-md-4">{{ form_row(form.imageFile) }}</div>
                            <div class="col-md-8">{{ form_row(form.imageFileAccueil) }}</div>
                            <div class="col-md-4">{{ form_row(form.vainqueur) }}</div>
                        </div>
                    </div>
                </div>
                {{ form_row(form.en_cours) }}
                <button style="background-color: #754974;" type="submit" class="btn btn-light mb-2"><span style="color: white;">Éditer</span></button>
            {{ form_end(form) }}
            </div>
    </div>


{% endblock %}