{% extends 'base.html.twig' %}

{% block body %}

    {% include 'layout/navbar.html.twig' %}

    <div style="padding-top: 20px; padding-left: 20px; padding-right: 20px;">
        <h3 style="color: #531B51;"><b>STATISTIQUE DE SALES CHALLENGE</b></h3>
        <div class="row">
            <div class="col">
                <form action="" method="POST">
                    <div class="form-group mt-5">
                        <p>Filtrer les recherches par :</p>
                        <select class="form-control" name="filtre">
                            <option selected="selected">Filtre</option>
                            <option>Collaborateurs</option>
                            <option>Sites</option>
                            <option>Consolidations</option>
                        </select>
                    </div>
                </form>
            </div>
            <div style="padding-top: 90px;" class="col">
                <form action="" method="POST">
                    <div class="form-group">
                        <select name="mois" style="width: 50%; background-color: #531B51; color: white;" class="form-control">
                            <option id="periode" selected="selected"><span>Mois</span></option>
                            <option id="01">Janvier</option>
                            <option id="02">Février</option>
                            <option id="03">Mars</option>
                            <option id="04">Avril</option>
                            <option id="05">Mai</option>
                            <option id="06">Juin</option>
                            <option id="07">Juillet</option>
                            <option id="08">Août</option>
                            <option id="09">Septembre</option>
                            <option id="10">Octobre</option>
                            <option id="11">Novembre</option>
                            <option id="12">Décembre</option>
                        </select>
                    </div>
                </form>
            </div>
            <div style="padding-top: 90px;" class="col">
                <form action="filtre_trimestre.php" method="POST">
                    <div class="form-group">
                        <select name="trimestre" style="width: 50%; background-color: #531B51; color: white;" class="form-control">
                            <option id="periode" selected="selected"><span>Trimestre</span></option>
                            <option id="1">Trimestre 1</option>
                            <option id="2">Trimestre 2</option>
                            <option id="3">Trimestre 3</option>
                            <option id="4">Trimestre 4</option>
                        </select>
                    </div>
                </form>
            </div>
        </div>

        {% include 'admin/ajax/_filter.html.twig' %}

        <div class="mytables" id="ma_table_Sites">
            <div class="row">
                <div class="col">
                    <table  class="table table-striped">
                        <thead>
                            <tr>
                                <th style="text-align: center;" scope="col">Site de rattachement</th>
                                <th style="text-align: center;" scope="col">Nombre de mandats</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for result in result_site_mandat %}
                                <tr>
                                    <td align="center">{{ result.site_rattachement }}</td>
                                    <td align="center">{{ result.mandat }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="col">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th style="text-align: center;" scope="col">Site de rattachement</th>
                                <th style="text-align: center;" scope="col">Nombre de vente</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for result in result_site_vente %}
                                <tr>
                                    <td align="center">{{ result.site_rattachement }}</td>
                                    <td align="center">{{ result.vente }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="mytables" id="ma_table_Consolidations">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th style="text-align: center;" scope="col">Collaborateurs</th>
                        <th style="text-align: center;" scope="col">Email </th>
                        <th style="text-align: center;" scope="col">Nombre de mandats</th>
                        <th style="text-align: center;" scope="col">Nombre de véhicules vendus</th>
                    </tr>
                </thead>
                <tbody>
                    {% for result in result_consolidation %}
                        <tr>
                            <td align="center">{{ result.prenom }} {{ result.nom }}</td>
                            <td align="center">{{ result.email }}</td>
                            <td align="center">{{ result.nombre }}</td>
                            <td align="center">{{ result.vente }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <script type="text/javascript">

        $(document).ready(function() {

            $('select[name="mois"]').change(function(e) {

                e.preventDefault();
                var mois = $("select[name='mois'] option:selected").attr("id");
                var table = $('#ma_table_Collaborateurs');

                var path_vente = '{{ path("export-csv-month", {'slug': 'vente', 'mois': '00'}) }}';
                var path_mandat = '{{ path("export-csv-month", {'slug': 'mandat', 'mois': '00'}) }}';

                if(mois === 'periode')
                {
                    var url_vente = '{{ path('export-csv-slug', {'slug': 'vente'}) }}';
                    var url_mandat = '{{ path('export-csv-slug', {'slug': 'mandat'}) }}';
                }
                else
                {
                    var url_vente = path_vente.replace("00", mois);
                    var url_mandat = path_mandat.replace("00", mois);
                }

                jQuery.ajax({
                    headers: {
                      'X-Requested-With': 'XMLHttpRequest'
                    },
                    url : '{{ path('admin') }}',
                    type : 'POST',
                    data : {
                        mois : mois
                    },
                    success: function(data)
                    {
                        table.html(data);
                        $('#lien').attr('href',url_vente);
                        $('#lien_mandat').attr('href',url_mandat);
                    },
                    error: function(jqxhr)
                    {
                        alert(jqxhr.responseText);
                    }
                });


            });

            $('select[name="trimestre"]').change(function(e) {

                e.preventDefault();
                var trimestre = $("select[name='trimestre'] option:selected").attr("id");
                var table = $('#ma_table_Collaborateurs');

                var path_vente = '{{ path("export-csv-trim", {'slug': 'vente', 'trimestre': '00'}) }}';
                var path_mandat = '{{ path("export-csv-trim", {'slug': 'mandat', 'trimestre': '00'}) }}';

                if(trimestre === 'periode')
                {
                    var url_vente = '{{ path('export-csv-slug', {'slug': 'vente'}) }}';
                    var url_mandat = '{{ path('export-csv-slug', {'slug': 'mandat'}) }}';
                }
                else
                {
                    var url_vente = path_vente.replace("00", trimestre);
                    var url_mandat = path_mandat.replace("00", trimestre);
                }

                jQuery.ajax({
                    headers: {
                        'X-Requested-With': 'XMLHttpRequest'
                    },
                    url : '{{ path('admin') }}',
                    type : 'POST',
                    data : {
                        trimestre : trimestre
                    },
                    success: function(data)
                    {
                        table.html(data);
                        $('#lien').attr('href',url_vente);
                        $('#lien_mandat').attr('href',url_mandat);
                    },
                    error: function(jqxhr)
                    {
                        alert(jqxhr.responseText);
                    }
                });


            });



















        });
    </script>

{% endblock %}
