{% extends 'base.html.twig' %}

{% block body %}

    {% include 'admin/layout/navbar.html.twig' %}

    <div class="container mt-4">
    <h3 class="text-viaautomobile new-title mt-5 mb-5"><b>CRÉER UN CHALLENGE</b></h3>
    {{ form_start(form) }}
    <div class="card new-cards">
        <h4 class="text-viaautomobile">Informations générales</h4>
        <hr>
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <div class="row">
                        <div class="col-md-8">{{ form_row(form.titre) }}</div>
                        <div class="col-md-4">{{ form_row(form.periode) }}</div>
                        <div class="col-md-8">{{ form_row(form.description) }}</div>
                        <div class="col-md-4">{{ form_row(form.imageFile) }}</div>
                        <div class="col-md-8">{{ form_row(form.imageFileAccueil) }}</div>
                        <div class="col-md-4">{{ form_row(form.vainqueur) }}</div>
                    </div>
                </div>
            </div>
            {{ form_row(form.en_cours) }}
            <button type="submit" class="btn btn-light light-button mb-2">Créer</button>
            {{ form_end(form) }}
        </div>
    </div>


{% endblock %}