{% extends 'base.html.twig' %}

{% block body %}

    <img class="logo_blanc" src="{{ asset('assets/images/logo_blanc.svg') }}" alt="logo" width="250" height="250">
    <div class="container mb-5">

        {% include 'notifications/notification.html.twig' with {error: error} only %}

        <div class="card security_card">
            <img src="{{ asset('assets/images/logo_couleur.svg') }}" alt="logo" width="300" height="75">
            <div class="card-body mt-5">
                <form action="{{ path('security_login') }}" method="post">
                    <div class="form-group">
                        <input type="text" id="username" name="_username" class="form-control" value="{{ last_username }}" placeholder="Saissisez votre adresse email" required>
                    </div>
                    <div class="form-group pt-4 pb-2">
                        <input type="password" id="password" name="_password" class="form-control" placeholder="Saissisez votre mot de passe" required>
                    </div>
                    <div class="text-center pt-2">
                        <a href="{{ path('forgot-password') }}"><u>Mot de passe oublié ?</u></a>
                    </div>
                    <button id="security_button" type="submit" class="btn btn-outline-light mt-2">connexion</button>
                </form>
            </div>
        </div>

        <p id="fin">Powered by Pepperbay</p>
    </div>

{% endblock %}