{% extends 'base.html.twig' %}

{% block body %}

    <img class="logo_blanc" src="{{ asset('assets/images/logo_blanc.svg') }}" alt="logo" width="250" height="250">

    {% if challenge.imageAccueil is defined %}
        <style>
            html, body
            {
                background: url('{{ vich_uploader_asset(challenge, 'imageFileAccueil') }}') no-repeat center fixed;
                -webkit-background-size: cover; /* pour anciens Chrome et Safari */
                background-size: cover; /* version standardisée */
            }
        </style>
    {% endif %}


    <div class="card accueil">
        <div class="card-body">
            <img src="{{ asset('assets/images/logo_final.png') }}" alt="logo" width="200">
            <span class="card-text"><b>Bonjour {{ app.user.prenom }} {{ app.user.nom }} !</b></br>Que souhaitez-vous faire ?</span>
        </div>
        <div class="row">
            <div class="col">
                <a class="btn btn-secondary mb-5 ml-3" href="{{ path('dashboard')}}" role="button">Tableau de bord</a>
            </div>
            <div class="col text-right mr-3">
                <a class="btn btn-secondary" href="{{ path('security_logout')}}" role="button">Se déconnecter</a>
            </div>
        </div>
    </div>

{% endblock %}