{% extends 'base.html.twig' %}

{% block body %}

    {% include 'admin/layout/navbar.html.twig' %}

    <div class="mt-3 ml-3 mr-3">
        <h3 class="text-viaautomobile"><b>STATISTIQUE DE SALES CHALLENGE</b></h3>
        <div class="row">
            <div class="col">
                <form action="" method="POST">
                    <div class="form-group mt-5">
                        <p>Filtrer les recherches par :</p>
                        <select class="form-control" name="filtre">
                            <option selected="selected">Filtre</option>
                            <option>Collaborateurs</option>
                            <option>Sites</option>
                            <option>Consolidations</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="col admin">
                <form action="" method="POST">
                    <div class="form-group">
                        <select name="mois-admin" class="historique-select w-50">
                            <option id="periode" selected="selected"><span>Mois</span></option>
                            <option id="01">Janvier</option>
                            <option id="02">Février</option>
                            <option id="03">Mars</option>
                            <option id="04">Avril</option>
                            <option id="05">Mai</option>
                            <option id="06">Juin</option>
                            <option id="07">Juillet</option>
                            <option id="08">Août</option>
                            <option id="09">Septembre</option>
                            <option id="10">Octobre</option>
                            <option id="11">Novembre</option>
                            <option id="12">Décembre</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="col admin">
                <form action="" method="POST">
                    <div class="form-group">
                        <select name="trimestre-admin" class="historique-select w-50">
                            <option id="periode" selected="selected"><span>Trimestre</span></option>
                            <option id="1">Trimestre 1</option>
                            <option id="2">Trimestre 2</option>
                            <option id="3">Trimestre 3</option>
                            <option id="4">Trimestre 4</option>
                        </select>
                    </div>
                </form>
            </div>
        </div>

        {% include 'admin/ajax/_filter.html.twig' %}

        <div class="mytables" id="ma_table_Sites">
            <div class="row">
                <div class="col">
                    <table  class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Site de rattachement</th>
                                <th scope="col">Nombre de mandats</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for result in result_site_mandat %}
                                <tr>
                                    <td align="center">{{ result.site_rattachement }}</td>
                                    <td align="center">{{ result.mandat }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="col">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Site de rattachement</th>
                                <th scope="col">Nombre de vente</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for result in result_site_vente %}
                                <tr>
                                    <td align="center">{{ result.site_rattachement }}</td>
                                    <td align="center">{{ result.vente }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="mytables" id="ma_table_Consolidations">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Collaborateurs</th>
                        <th scope="col">Email </th>
                        <th scope="col">Nombre de mandats</th>
                        <th scope="col">Nombre de véhicules vendus</th>
                    </tr>
                </thead>
                <tbody>
                    {% for result in result_consolidation %}
                        <tr>
                            <td align="center">{{ result.prenom }} {{ result.nom }}</td>
                            <td align="center">{{ result.email }}</td>
                            <td align="center">{{ result.nombre }}</td>
                            <td align="center">{{ result.vente }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
