{% if results or mandats %}

    <div id="ma_table_Collaborateurs">
        <div class="row">
            <div class="col-md-6">
                <table  class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Collaborateurs</th>
                        <th scope="col">Site de rattachement</th>
                        <th scope="col">Nombre de véhicules vendus</th>
                        <th scope="col">Nombre de livraison</th>
                        <th scope="col">Nombre de financement</th>
                        <th scope="col">Nombre de garantie</th>
                        <th scope="col">Nombre de frais de mise en route</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% set total_vente = 0 %}
                    {% set total_livraison = 0 %}
                    {% set total_financement = 0 %}
                    {% set total_garantie = 0 %}
                    {% set total_fme = 0 %}
                    {% for result in results %}

                        {% set total_vente = total_vente + result.vente %}
                        {% set total_livraison = total_livraison + result.livree %}
                        {% set total_financement = total_financement + result.financement %}
                        {% set total_garantie = total_garantie + result.garantie %}
                        {% set total_fme = total_fme + result.fraisMER %}
                        <tr>
                            <td align="center">{{ result.prenom }} {{ result.nom }}</td>
                            <td align="center">{{ result.site_rattachement }}</td>
                            <td id="ventes" align="center">{{ result.vente }}</td>
                            <td id="livrees" align="center">{{ result.livree ?? 0 }}</td>
                            <td id="financement" align="center">{{ result.financement ?? 0 }}</td>
                            <td id="garantie" align="center">{{ result.garantie ?? 0 }}</td>
                            <td id="fraisMER" align="center">{{ result.fraisMER ?? 0 }}</td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td align="center"><b>TOTAL</b></td>
                        <td align="center"></td>
                        <td align="center"><b>{{ total_vente }}</b></td>
                        <td id="livrees" align="center"><b>{{ total_livraison }}</b></td>
                        <td id="financement" align="center"><b>{{ total_financement }}</b></td>
                        <td id="garantie" align="center"><b>{{ total_garantie }}</b></td>
                        <td id="fraisMER" align="center"><b>{{ total_fme }}</b></td>
                    </tr>
                    </tbody>
                </table>
                <div class="text-right">
                    <a id="lien" href="{{ path('export-csv-slug', {slug: "vente"}) }}"><i class="fa fa-file-excel-o" aria-hidden="true"></i>&nbsp;&nbsp;Exporter au format CSV</a>
                </div>
            </div>
            <div class="col-md-6">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th style="text-align: center;" scope="col">Collaborateurs</th>
                        <th style="text-align: center;" scope="col">Site de rattachement</th>
                        <th style="text-align: center;" scope="col">Nombre de mandats</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% set total = 0 %}
                    {% for mandat in mandats %}
                        {% set total = total + mandat.nombre %}
                        <tr>
                            <td align="center">{{ mandat.prenom }} {{ mandat.nom }}</td>
                            <td align="center">{{ mandat.site_rattachement }}</td>
                            <td align="center">{{ mandat.nombre }}</td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td align="center"><b>TOTAL</b></td>
                        <td align="center"></td>
                        <td align="center"><b>{{ total }}</b></td>
                    </tr>
                    </tbody>
                </table>
                <div class="text-right">
                    <a id="lien_mandat" href="{{ path('export-csv-slug', {slug: "mandat"}) }}"><i class="fa fa-file-excel-o" aria-hidden="true"></i>&nbsp;&nbsp;Exporter au format CSV</a>
                </div>
            </div>
        </div>
    </div>

{% else%}
    <div class="container">
        <div class="alert alert-warning mt-5" role="alert">
            <i class="fa fa-warning"></i>&nbsp;&nbsp;Aucune donnée à afficher
        </div>
    </div>
{% endif %}