{% extends 'base.html.twig' %}

{% block body %}

    {% include 'layout/navbar.html.twig' %}
    {% include 'layout/menu.html.twig' %}

    <div class="container">
        {% for message in app.flashes('success') %}
            {% if message == 'Votre compte a été modifié avec succès' %}
                <script> toastr.success('Votre compte a été modifié avec succès'); </script>
            {% endif %}
        {% endfor %}
    </div>

    <div class="row row-dashboard">
        <div class="col dashboard-col">
            <h3 class="text-viaautomobile"><b>NOMBRE DE MANDATS</b></h3>
            <p class="nombre_mandat text-viaautomobile fs-7">{{ mandat ? mandat.nombre : 0 }}</p>
            <p class="text-viaautomobile fs-2 mb-5">Mandats</p>
            <button class="btn btn-light dashboard-button" role="button" data-toggle="modal" data-target="#mandat">Ajouter Mandats</button>
            <hr class="dashboard-hr"/>
        </div>
        <div class="col dashboard-col">
            <h3 class="text-viaautomobile"><b>NOMBRE DE VENTES</b></h3>
            <p id="mesventes" class="text-viaautomobile fs-7">{{ count_vente.vente }}</p>
            <p class="text-viaautomobile fs-2">Ventes</p>
            <p class="dont mb-5">dont</p>
            <div class="row pl-4">
                <div class="col pl-2">
                    <button id="bouton1" class="button-vente">{{ count_livree.livree }}</button>
                    <p>Livraisons</p>
                </div>
                <div class="col">
                    <button id="bouton2" class="button-vente">{{ count_fraisMER.fraisMER }}</button>
                    <p>Frais de mise en service</p>
                </div>
                <div class="col pl-2">
                    <button id="bouton3" class="button-vente">{{ count_garantie.garantie }}</button>
                    <p>Garanties</p>
                </div>
                <div class="col pl-2">
                    <button id="bouton4" class="button-vente">{{ count_financement.financement }}</button>
                    <p>Financements</p>
                </div>
            </div>
            <button class="btn btn-light dashboard-button" role="button" data-toggle="modal" data-target="#vente">Ajouter Ventes</button>
        </div>
    </div>

    <div class="modal fade" id="mandat" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title text-viaautomobile">AJOUT DE MANDATS</h2>
                </div>
                <div class="modal-body">
                    <p class="text-viaautomobile fs-1 mb-5">Combien de mandats souhaitez-vous comptabiliser ?</p>
                    {{ form_start(form_mandat) }}
                    {{ form_row(form_mandat.nombre, {'attr': {'placeholder': 'Nombre'}}) }}
                </div>
                <div class="text-center">
                    <hr>
                    <button rel="popuptrois" id="poplight3" type="submit" class="btn btn-light popup-dashboard mb-3" data-dismiss="modal">Ajouter</button>
                    {{ form_end(form_mandat) }}
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="vente" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title text-viaautomobile">AJOUT D'UNE VENTE</h2>
                </div>
                <div class="modal-body">
                    {{ form_start(form_vente) }}
                    {{ form_row(form_vente.date_vente, {'attr': {'placeholder': '01/01/1900'}}) }}
                    {{ form_row(form_vente.immatriculation, {'attr': {'placeholder': 'AA123BB'}}) }}
                    <div class="row">
                        <div class="col-sm">
                            {{ form_row(form_vente.livree) }}
                        </div>
                        <div class="col-sm">
                            {{ form_row(form_vente.frais_mer) }}
                        </div>
                        <div class="col-sm">
                            {{ form_row(form_vente.garantie) }}
                        </div>
                        <div class="col-sm">
                            {{ form_row(form_vente.financement) }}
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <hr>
                    <button id="js-add" type="submit" class="btn btn-light popup-dashboard mb-3" data-dismiss="modal">Ajouter</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}