{% extends 'base.html.twig' %}

{% block body %}

    {% include 'layout/navbar.html.twig' %}
    {% include 'layout/menu.html.twig' %}

    <div class="row ml-4 row-dashboard">
        <div class="col dashboard-col">
            <h3 class="text-viaautomobile"><b>NOMBRE DE MANDATS</b></h3>
            <p class="nombre_mandat text-viaautomobile fs-7">{{ mandat ? mandat.nombre : 0 }}</p>
            <p class="text-viaautomobile fs-2 mb-5">Mandats</p>
            <button class="btn btn-light dashboard-button" role="button" data-toggle="modal" data-target="#mandat">Ajouter Mandats</button>
            <hr class="dashboard-hr"/>
        </div>
        <div class="col dashboard-col">
            <h3 class="text-viaautomobile"><b>NOMBRE DE VENTES</b></h3>
            <p id="mesventes" class="text-viaautomobile fs-7">{{ count_vente.vente }}</p>
            <p class="text-viaautomobile fs-2">Ventes</p>
            <p class="dont mb-5">dont</p>
            <div class="row pl-4">
                <div class="col pl-2">
                    <button id="bouton1" class="button-vente">{{ count_livree.livree }}</button>
                    <p>Livraisons</p>
                </div>
                <div class="col">
                    <button id="bouton2" class="button-vente">{{ count_fraisMER.fraisMER }}</button>
                    <p>Frais de mise en service</p>
                </div>
                <div class="col pl-2">
                    <button id="bouton3" class="button-vente">{{ count_garantie.garantie }}</button>
                    <p>Garanties</p>
                </div>
                <div class="col pl-2">
                    <button id="bouton4" class="button-vente">{{ count_financement.financement }}</button>
                    <p>Financements</p>
                </div>
            </div>
            <button class="btn btn-light dashboard-button mt-5" role="button" data-toggle="modal" data-target="#vente">Ajouter Ventes</button>
        </div>
    </div>

    <div class="modal fade" id="mandat" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title text-viaautomobile">AJOUT DE MANDATS</h2>
                </div>
                <div class="modal-body">
                    <p class="text-viaautomobile fs-1 mb-5">Combien de mandats souhaitez-vous comptabiliser ?</p>
                    {{ form_start(form_mandat) }}
                    {{ form_row(form_mandat.nombre, {'attr': {'placeholder': 'Nombre'}}) }}
                </div>
                <div class="modal-footer">
                    <button rel="popuptrois" id="poplight3" type="submit" class="btn btn-light popup-dashboard" data-dismiss="modal">Ajouter</button>
                    {{ form_end(form_mandat) }}
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="vente" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title text-viaautomobile">AJOUT D'UNE VENTE</h2>
                </div>
                <div class="modal-body">
                    {{ form_start(form_vente) }}
                    {{ form_row(form_vente.date_vente, {'attr': {'placeholder': '01/01/1900'}}) }}
                    {{ form_row(form_vente.immatriculation, {'attr': {'placeholder': 'AA123BB'}}) }}
                    <div class="row">
                        <div class="col-sm">
                            {{ form_row(form_vente.livree) }}
                        </div>
                        <div class="col-sm">
                            {{ form_row(form_vente.frais_mer) }}
                        </div>
                        <div class="col-sm">
                            {{ form_row(form_vente.garantie) }}
                        </div>
                        <div class="col-sm">
                            {{ form_row(form_vente.financement) }}
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="js-add" type="submit" class="btn btn-light popup-dashboard" data-dismiss="modal">Ajouter</button>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <script type="text/javascript">

        $(document).ready(function() {

            $('#poplight3').click(function(e){
                e.preventDefault();

                var mandat = $('input[placeholder="Nombre"]').val();

                jQuery.ajax({
                    url: '{{ path('add-mandat') }}',
                    type: 'POST',
                    data: {
                        mandat: mandat
                    },
                    success: function (data) {
                        $('.nombre_mandat').html(data.response);

                        $('#fade , .popup_block').fadeOut(function() {
                            $('#fade, a.close').remove();  //...ils disparaissent ensemble
                        });
                        $('form').find('input').val("");

                        if(data.message === "Erreur dans l'ajout de mandat")
                        {
                            toastr.error(data.message)
                        }
                        else
                        {
                            toastr.success(data.message)
                        }


                    },
                    error: function (jqxhr) {
                        alert(jqxhr.responseText);
                    }
                });
            });

            $('#js-add').click(function(e){
                e.preventDefault();

                var date_vente = $('input[placeholder="01/01/1900"]').val();
                var immatriculation = $('input[placeholder="AA123BB"]').val();
                var livree = $('input[name="vente[livree]"]').attr("checked") ? 1 : 0;
                var fraisMER = $('input[name="vente[frais_mer]"]').attr("checked") ? 1 : 0;
                var garantie = $('input[name="vente[garantie]"]').attr("checked") ? 1 : 0;
                var financement = $('input[name="vente[financement]"]').attr("checked") ? 1 : 0;

                jQuery.ajax({
                    url: '{{ path('add-vente') }}',
                    type: 'POST',
                    data: {
                        vente: date_vente,
                        immatriculation: immatriculation,
                        livree: livree,
                        fraisMER: fraisMER,
                        garantie: garantie,
                        financement: financement
                    },
                    success: function (data) {

                        if(data.errors !== undefined)
                        {
                            for(const error in data.errors)
                            {
                                toastr.error(data.errors[error],{
                                    "closeButton": true,
                                    "debug": false,
                                    "newestOnTop": false,
                                    "progressBar": true,
                                    "positionClass": "toast-top-right",
                                    "preventDuplicates": false,
                                    "onclick": null,
                                    "showDuration": "300",
                                    "hideDuration": "1000",
                                    "timeOut": "7000",
                                    "extendedTimeOut": "1000",
                                    "showEasing": "swing",
                                    "hideEasing": "linear",
                                    "showMethod": "fadeIn",
                                    "hideMethod": "fadeOut"
                                });
                            }

                            $('#fade , .popup_block').fadeOut(function() {
                                $('#fade, a.close').remove();  //...ils disparaissent ensemble
                            });

                            $('input[placeholder="01/01/1900"]').val("")
                            $('input[placeholder="AA123BB"]').val("");
                            $('input[type="checkbox"]').attr('checked', false);
                        }
                        else
                        {
                            $('#mesventes').html(data.vente);
                            $('#bouton1').html(data.livree);
                            $('#bouton2').html(data.fraisMER);
                            $('#bouton3').html(data.garanties);
                            $('#bouton4').html(data.financement);

                            toastr.success(data.message)

                            $('#fade , .popup_block').fadeOut(function() {
                                $('#fade, a.close').remove();  //...ils disparaissent ensemble
                            });

                            $('input[placeholder="01/01/1900"]').val("")
                            $('input[placeholder="AA123BB"]').val("");
                            $('input[type="checkbox"]').attr('checked', false);




                        }

                    },
                    error: function (jqxhr) {
                        console.log(jqxhr.responseText);
                    }
                });


            });

        });

    </script>

{% endblock %}

































