{% extends 'base.html.twig' %}

{% block body %}

    {% include 'layout/menu.html.twig' %}

    <style>
        #semaine
        {
            font-size: 30px;
            padding-left: 150px;

        }

        #colonne1 {
            position: absolute;
            width: 60%;
            height: 60%;
            bottom:0;
            left:0;
            top: 0;
            right:0;
            margin: auto;
            margin-left: 50px;
            margin-bottom: 175px;
            zoom:125%;
        }

        #colonne2
        {
            position: absolute;
            width: 38%;
            height: 59.9%;
            bottom:0;
            top: 0;
            margin: auto;
            margin-left: 525px;
            margin-bottom: 175px;
            zoom:125%;
        }

        .separation2
        {
            clear: both;
            position: absolute;
            height: 800px;
            width: 3px;
            margin-left: 600px;
            margin-top: 50px;
            background:  #531B51;
        }

        .bouton1
        {
            width: 75px;
            height: 75px;
            background:#A73C97;
            font:bold 55px Montserrat;
            border-radius:50%;
            border:none;
            color:#fff;
        }

        #dont
        {
            color: #A73C97;
            font-size: 30px;
        }


        .separation
        {

            position: absolute;
            margin-left: 300px;
            height: 100%;
            width: 1px;
            background: grey;
            top: 0;
            bottom: 0;
            opacity: 0.2;
        }

        .form-error-message
        {
            color: red;
        }

        p
        {
            color: black;
        }
    </style>

    {% include 'layout/notification.html.twig' %}

    <center>
        <div class="container mt-1">
            <p style="color: #531B51;" id="semaine">{{ semaine }}</p>
            <div class="row ml-4">
                <div class="col" id="colonne1">
                    <h3 style="color: #531B51;"><b>NOMBRE DE MANDATS</b></h3>
                    <p class="nombre_mandat" style="font-size: 7em; color: #531B51;">{{ mandat ? mandat.nombre : 0 }}</p>
                    <p style="font-size: 2em; color: #531B51;">Mandats</p></br>
                    <a href="#?w=500" rel="popupun" id="poplight" style="background-color: #531B51; text-decoration: none; border: 2px solid #531B51; border-radius: 12px;" class="btn btn-light" role="button"><span>Ajouter Mandats</span></a>
                </div>
            </div>
            <div>
                <hr class="separation2" />
            </div>
            <div id="colonne2" class="col">
                <center>
                    <h3 style="color: #531B51;"><b>NOMBRE DE VENTES</b></h3>
                    <p style="font-size: 7em; color: #531B51;">{{ count_vente.vente }}</p>
                    <p style="font-size: 2em; color: #531B51;">Ventes</p>
                    <p id="dont">dont</p></br>
                    <div class="row pl-4">
                        <div class="col pl-2">
                            <button class="bouton1">{{ count_livree.livree }}</button>
                            <span style="color: black;">Livraisons</span>
                        </div>
                        <div class="col">
                            <button class="bouton1">{{ count_fraisMER.fraisMER }}</button></br>
                            <span style="color: black;">Frais de mise en service</span>
                        </div>
                        <div class="col pl-2">
                            <button class="bouton1">{{ count_garantie.garantie }}</button>
                            <span style="color: black;">Garanties</span>
                        </div>
                        <div class="col pl-2">
                            <button class="bouton1">{{ count_financement.financement }}</button>
                            <span style="color: black;">Financements</span>
                        </div>
                    </div></br>
                    <a href="#?w=750" rel="popupdeux" id="poplight2" style="background-color: #531B51; text-decoration: none; border: 2px solid #531B51; border-radius: 12px;" class="btn btn-light" role="button"><span>Ajouter Ventes</span></a>
                </center>
            </div>
        </div>
    </center>

    <div id="popupun" class="popup_block">
        <center>
            <div class="container">
                <h2 style="color: #531B51;">AJOUT DE MANDATS</h2></br>
                <p style="font-size: 15px; color: #531B51;">Combien de mandats</br>souhaitez-vous comptabiliser ?</p></br>
                {{ form_start(form_mandat) }}
                {{ form_row(form_mandat.nombre, {'attr': {'placeholder': 'Nombre'}}) }}
                <button rel="popuptrois" id="poplight3" style="background-color: #9D1458;" type="submit" class="btn btn-light"><span style="color: white;">Ajouter</span></button>
                {{ form_end(form_mandat) }}
            </div>
        </center>
    </div>

    <div id="popupdeux" class="popup_block">
        <div class="container">
            <center>
                <h2 style="color: #531B51;">AJOUT D'UNE VENTE</h2></br>
            </center>
                {{ form_start(form_vente) }}
                {{ form_row(form_vente.date_vente, {'attr': {'placeholder': '01/01/1900'}}) }}
                {{ form_row(form_vente.immatriculation, {'attr': {'placeholder': 'AA123BB'}}) }}
                <div class="row">
                    <div class="col-sm">
                        {{ form_row(form_vente.livree) }}
                    </div>
                    <div class="col-sm">
                        {{ form_row(form_vente.frais_mer) }}
                    </div>
                    <div class="col-sm">
                        {{ form_row(form_vente.garantie) }}
                    </div>
                    <div class="col-sm">
                        {{ form_row(form_vente.financement) }}
                    </div>
                </div></br></br>
                <center>
                    <button style="background-color: #9D1458;" type="submit" class="btn btn-light"><span style="color: white;">Ajouter</span></button>
                </center>
                {{ form_end(form_vente) }}
        </div>
    </div>



    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <script type="text/javascript">

        $(document).ready(function() {

            //Popup 1
            $('a#poplight[href^=#]').click(function() {
                var popID = $(this).attr('rel'); //Trouver la pop-up correspondante
                var popURL = $(this).attr('href'); //Retrouver la largeur dans le href

                //Récupérer les variables depuis le lien
                var query= popURL.split('?');
                var dim= query[1].split('&amp;');
                var popWidth = dim[0].split('=')[1]; //La première valeur du lien

                //Faire apparaitre la pop-up
                $('#' + popID).fadeIn().css({
                    'width': Number(popWidth)
                })

                //Récupération du margin, qui permettra de centrer la fenêtre - on ajuste de 80px en conformité avec le CSS
                var popMargTop = ($('#' + popID).height() + 80) / 2;
                var popMargLeft = ($('#' + popID).width() + 80) / 2;

                //On affecte le margin
                $('#' + popID).css({
                    'margin-top' : -popMargTop,
                    'margin-left' : -popMargLeft
                });

                //Effet fade-in du fond opaque
                $('body').append('<div id="fade"></div>'); //Ajout du fond opaque noir
                //Apparition du fond - .css({'filter' : 'alpha(opacity=80)'}) pour corriger les bogues de IE
                $('#fade').css({'filter' : 'alpha(opacity=80)'}).fadeIn();

                return false;
            });

            //Popup 2
            $('a#poplight2[href^=#]').click(function() {
                var popID = $(this).attr('rel'); //Trouver la pop-up correspondante
                var popURL = $(this).attr('href'); //Retrouver la largeur dans le href

                //Récupérer les variables depuis le lien
                var query= popURL.split('?');
                var dim= query[1].split('&amp;');
                var popWidth = dim[0].split('=')[1]; //La première valeur du lien

                //Faire apparaitre la pop-up
                $('#' + popID).fadeIn().css({
                    'width': Number(popWidth)
                })

                //Récupération du margin, qui permettra de centrer la fenêtre - on ajuste de 80px en conformité avec le CSS
                var popMargTop = ($('#' + popID).height() + 80) / 2;
                var popMargLeft = ($('#' + popID).width() + 80) / 2;

                //On affecte le margin
                $('#' + popID).css({
                    'margin-top' : -popMargTop,
                    'margin-left' : -popMargLeft
                });

                //Effet fade-in du fond opaque
                $('body').append('<div id="fade"></div>'); //Ajout du fond opaque noir
                //Apparition du fond - .css({'filter' : 'alpha(opacity=80)'}) pour corriger les bogues de IE
                $('#fade').css({'filter' : 'alpha(opacity=80)'}).fadeIn();

                return false;
            });

            //Fermeture de la pop-up et du fond
            $('a.close, #fade').live('click', function() { //Au clic sur le bouton ou sur le calque...
                $('#fade , .popup_block').fadeOut(function() {
                    $('#fade, a.close').remove();  //...ils disparaissent ensemble
                });

                return false;
            });

        });

        toastr.options = {
            "closeButton": true,
            "debug": false,
            "newestOnTop": false,
            "progressBar": true,
            "positionClass": "toast-top-right",
            "preventDuplicates": false,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "2500",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }

    </script>

{% endblock %}

































