{% block body %}

<div class="menu">
    <a href="{{ path('accueil') }}"><img class="logo_app mt-5 mb-5" src="{{ asset('assets/images/logo_final.png') }}" alt="logo" width="250"></a>
    <p class="text-center text-viaautomobile">Bonjour <b>{{ app.user.prenom }} {{ app.user.nom }}</b></p>

    <ul class="slide mb-4">
        <li class="mt-5">
            <a class="change" href="{{ path('challenges') }}"><i class="fa fa-trophy" aria-hidden="true"></i>&nbsp;Les challenges</a>
        </li>
        <li class="mt-4">
            <a class="change" href="{{ path('dashboard') }}"><i class="fa fa-tachometer" aria-hidden="true"></i>&nbsp;Mon tableau de bord</a>
        </li>
        <li class="mt-4">
            <a class="change" href="{{ path('historique') }}"><i class="fa fa-bar-chart" aria-hidden="true"></i>&nbsp;Historique</a>
        </li>
        {% if is_granted('ROLE_ADMIN') %}
            <li class="mt-4">
                <a class="change" href="{{ path('admin') }}"><i class="fa fa-pie-chart" aria-hidden="true"></i>&nbsp;Administration</a>
            </li>
        {% endif %}
        <li class="mt-4">
            <a class="change" href="{{ path('edit_account') }}"><i class="fa fa-cog" aria-hidden="true"></i>&nbsp;Paramètres du compte</a>
        </li>
        <li class="mt-4">
            <a class="change" href="{{ path('security_logout') }}"><i class="fa fa-sign-out" aria-hidden="true"></i>&nbsp;Deconnexion</a>
        </li>
    </ul>
    <img class="logo_gris" src="{{ asset('assets/images/logo_gris.svg') }}" alt="logo" width="230">
</div>

{% endblock %}