{% if ventes is not empty %}
    <table id="ma_table_Ventes" class="table table-striped ml-5 mt-5">
        <thead>
        <tr>
            <th scope="col">Date de vente</th>
            <th scope="col">Immatriculation</th>
            <th scope="col">Livraisons</th>
            <th scope="col">FMS</th>
            <th scope="col">Garanties</th>
            <th scope="col">Financements</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for vente in ventes %}
            <tr  align="center">
                <td align="center">{{ vente.date | date('d/m/Y') }}</td>
                <td align="center">{{ vente.immatriculation }}</td>
                <td align="center">{{ vente.livree }}</td>
                <td align="center">{{ vente.fraisMER }}</td>
                <td align="center">{{ vente.garantie }}</td>
                <td align="center">{{ vente.financement }}</td>
                {% if 'now'|date('m') != vente.date | date('m') %}
                    <td align="center"><a style="color: black;"><i class="fa fa-times"/></a></td>
                {% else %}
                    <td align="center">
                        <a class="btn btn-link js-delete" href="{{ path('historique_vente', {id: vente.id}) }}" style="color: black; z-index: 200;">
                            <i class="fa fa-trash"></i>
                        </a>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% else%}
    <div class="container">
        <div style="font-size: 15px; width: 725px; top: 150px; left: 25px;" class="alert alert-warning" role="alert">
            <i class="fa fa-warning"></i>&nbsp;&nbsp;Aucune donnée à afficher
        </div>
    </div>
{% endif %}
